html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  text-align: center;
}

.parent {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.styleUnderline {
  width: 60px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
  background-color: rgb(65, 16, 66);
  margin-bottom: 80px;
}

.styleInput {
  width: 80%;
  padding-left: 150px;
}

.forgotpassword {
  padding-top: 15px;
  width: 80%;
  text-align: right;
}

.child1  {
  position: relative;
  width: 60%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}

.child2 {
  padding-top: 175px;
  padding-right: 75px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.rotation {
  width: 100%;
  height: 1100px;
  -webkit-clip-path: polygon(0 0, 57% 0, 43% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
